:root {
  --red: #ff3366;
  --bg-color: #1d1d1d;
  --text-grey: #828282;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  background-repeat: no-repeat;
  color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App {
  overflow: hidden;
  animation: app-appearence 1.2s ease-in;
}

@keyframes app-appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  min-width: 28rem;
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.main-bg-img img {
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */

  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 1;

  animation: app-appearence 1.2s ease-in;
}

.main-bg-img::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes bg-appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* DASHBOARD SECTION */

.home-container {
  width: 860px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  margin-bottom: 1rem;
}

.main-logo-container span {
  font-family: "Cooper Std", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 3.1rem;
}

.main-logo-img-cont {
  width: 2.6rem;
  height: 2.6rem;
}

.main-logo-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rotate {
  animation: rotating 5s linear infinite;
  animation-delay: 2s;
}

@keyframes rotating {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.choice-title-container {
  padding-top: 3rem;
}

.choice-title-container p {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  text-shadow: 2px 2px 8px #e0e0e0;
  text-transform: uppercase;
  text-align: center;
}

.select-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

/* select options */

.select-options-title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-right: 1rem;
  color: var(--text-grey);
  font-weight: 300;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select::-ms-expand {
  display: none;
}

select {
  outline: none;
}
.select {
  display: flex;
  align-items: baseline;
}

.select select {
  /* width: 12rem; */
  /* min-width: 5rem;
  max-width: 14rem; */
  border-bottom: 1px solid var(--red);
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.5rem;
  background-color: transparent;
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
  background-image: linear-gradient(to top, transparent, transparent 33%);
  text-align: center;
  /* color: #fff; */
}

.league-select {
  width: 6rem;
}

.team-select {
  width: 12rem;
}

.league-select,
.team-select {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 800;
  color: #fff;
}

.options-league-item,
.options-item {
  color: #000;
}

.teams-links {
  display: flex;
  width: 100%;
  min-width: 7rem;
  max-width: 10rem;
  height: 3rem;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 3px;
  outline: none;
}

.slider-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}

.swiper-container,
.horizontal-slider {
  padding-top: 5rem;
}

.swiper-container {
  height: 35rem;
}

.swiper-button-prev,
.swiper-button-next {
  height: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
  width: 5% !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  left: 0 !important;
  background-image: url("./img/icons/prev-arrow.png");
}

.swiper-button-next {
  right: 0 !important;
  background-image: url("./img/icons/next-arrow.png");
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-scrollbar {
  background-color: #fff !important;
}

.swiper-scrollbar-drag {
  background: rgb(20, 20, 198) !important;
}

.swiper-slide {
  width: 100%;
  /* height: 90% !important; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.1;
  transition: all 2s ease-in-out;
  transition-delay: 4s;
  will-change: opacity;
}

.swiper-slide-active {
  opacity: 1;
  transition: all 2s ease-in-out;
  transition-delay: 4s;
}

.swiper-container-horizontal > .swiper-scrollbar {
  bottom: 1px;
}

.date-container {
  text-align: center;
  margin-bottom: 1rem;
}

.date-container span {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: #bdbdbd;
  letter-spacing: 0.2rem;
}

.team-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.teams-main-title,
.versus {
  text-transform: uppercase;
  line-height: 4.6rem;
  text-align: center;
}

.teams-main-title {
  font-size: 4.6rem;
  font-weight: 700;
}

.versus {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  line-height: 4rem;
}

/**** timer ****/

.result-container {
  height: 8rem;
  margin-bottom: 0.5rem;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

/*** social buttons ***/
.social-btn-wraper {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 6rem;
  right: 0;
}

.fb-button,
.twitter-button,
.screenshot-btn {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.fb-button:hover,
.twitter-button:hover,
.screenshot-btn:hover {
  transform: scale(1.2);
}

.screenshot-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ******CSSTransition******* */

/* .sample-enter {
  opacity: 0.01;
}

.sample-enter.sample-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.sample-leave {
  opacity: 1;
}

.sample-leave.sample-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
} */

/*** LOCATION ***/

.location-container {
  text-align: center;
  margin-bottom: 1rem;
}

.location-container span {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: #bdbdbd;
  text-transform: capitalize;
}

/*** CHANNEL ***/

.channel-cont {
  text-align: center;
}

.channel-cont span {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

/*** ENDED GAMES CONTAINER ***/

.ended-games-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ended-games-cont p:first-child {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--red);
}

.ended-games-cont p:nth-last-child(1) {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.3rem;
}

.ended-games-cont span {
  font-size: 3rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.3rem;
}

/*** ADVERTASING BLOCKS ***/

.container-adv {
  width: 150px;
  height: 600px;
  margin-top: 4rem;
  background-color: burlywood;
  border: 1px solid black;
}

.bottom-container {
  flex-direction: column;
  align-items: center;
}

.container-adv-bottom {
  height: 150px;
  width: 600px;
  background-color: burlywood;
  border: 1px solid black;
  margin-bottom: 5rem;
}

.download-app-cont {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.download-app {
  display: block;
  width: 120px;
  height: 60px;
  outline: none;
}

.download-app img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*** Notification ***/

.notification-cont {
  margin-top: 5rem;
}

.notification-cont p {
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 3px 9px #d8d8d8;
  padding: 1rem;
}

.screenshot-container {
  /* margin-bottom: 2rem; */
}

.info-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.info-btn:hover {
  transform: scale(1.2);
}

.info-btn svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** MODAL ***/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 90;
}

.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 1.6rem 2.3rem;
  border-radius: 30px;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 600;
  color: #828282;
  text-transform: uppercase;
}

.modal-close-btn {
  height: 70px;
  width: 70px;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.modal-close-btn::after {
  content: "\d7";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--red);
  font-size: 40px;
  line-height: 70px;
  text-align: center;
}

.modal-close-btn:hover {
  transform: scale(1.3);
}

.modal-section-titles {
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: var(--red);
}

.modal-section-titles::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 80%;
  margin-left: 20px;
  background: var(--red);
}

.details-section {
  display: flex;
  justify-content: space-between;
}

.teams-details-cont {
  width: 49%;
}

.team-titles::after {
  width: 45%;
}

.point-info p,
.stats-info p,
.opponent-team-info p,
.current-team-info p {
  color: var(--text-grey);
  text-align: center;
}
