:root {
  --red: #ff3366;
  --bg-color: #1d1d1d;
  --text-grey: #828282;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  background-repeat: no-repeat;
  color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.main-page-loader-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* swiper */

.swiper-button-prev,
.swiper-button-next {
  height: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
  width: 5% !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  left: 0 !important;
  background-image: url("./assets/img/icons/prev-arrow.png");
}

.swiper-button-next {
  right: 0 !important;
  background-image: url("./assets/img/icons/next-arrow.png");
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-scrollbar {
  background-color: #fff !important;
}

.swiper-scrollbar-drag {
  background: rgb(20, 20, 198) !important;
}

.swiper-slide-next,
.swiper-slide-prev {
  transform: scale(0.8);
  opacity: 0.1;
}

.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
